/* Global */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: thin;
}

:root {
  --main-font: 'Montserrat', sans-serif;
  --main-font-color: #2f2e41;
  --pink-font-color: #FF9D9D;
  --main-pink-color: #F6C9C1;
  --light-pink-color: #F8D9D3;
}

html {
  font-family: var(--main-font);
}

body {
  box-sizing: border-box;
  color: var(--main-font-color);
}

h1 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

p {
  font-size: 20px;
  margin-top: 17px;
  line-height: 29px;
}

.btn {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
  width: 172px;
  height: 52px;
  border-radius: 5px;
  margin: 30px 0;
  background: #fff;
  color: var( --pink-font-color);
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  text-align: center;
  line-height: 52px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var( --pink-font-color);
  color: #fff;
}
.btn.filled {
  background-color: var( --pink-font-color);
  color: #fff;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.btn.filled:hover {
  background-color: #fff;
  color: var( --pink-font-color);
  border: 1px solid var( --pink-font-color);
}

.highlight {
  color: var(--main-font-color);
}

/* Header */

header {
  position: absolute;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: 800;
  margin-left: 10px;
}

.logo img {
  width: 64px;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 15px;
}

.nav-item {
  margin: 0 2rem;
}

.nav-item:hover .nav-link{
 text-decoration: underline;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.login-link {
  position: relative;
  margin-right: 15px;
  color: var(--main-font-color);
}

.login-link::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -15px;
  width: 1px;
  height: 30px;
  background: var(--main-font-color);
}

.custom-select {
  position: relative;
}

.custom-select::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-30%);
  pointer-events: none;
  border: 8px solid transparent;
  border-top-color:  var(--main-font-color);
}

select {
  padding: 5px 10px;
  background: transparent;
  border: none;
  font-family: var(--main-font);
  font-size: 15px;
  color: var(--main-font-color);
  appearance: none;
  cursor: pointer;
}

.menu-toggle {
  display: grid;
  place-items: center;
  color: #fff;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--main-font-color);
  display: none;
  opacity: 0;
  transition: transform 80ms ease-in-out;
}

.menu-toggle:hover {
  transform: scale(1.1);
}

.fa-times {
  display: none;
  opacity: 0;
}

.mobile-menu {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mobile-menu.active {
  display: flex;
  opacity: 1;
}

.menu-toggle:hover {
  cursor: pointer;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.mobile-item {
  padding: 1rem 2rem;
}

.mobile-item:hover {
  cursor: pointer;
}

.mobile-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.overlay {
  width: auto;
  flex-grow: 1;
  background-color: #6d6f65;
  opacity: 0.5;
}

.menu {
  flex: 0 0 300px;
  background-color: #fff;
}

/* Hero Section */

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background: var(--main-pink-color);
}

.text-wrapper {
  max-width: 500px;
  margin: 0 80px;
}

.background-container {
  display: grid;
  place-items: center;
  top: 0;
  left: 60%;
  height: 100%;
  width: 750px;
  background: var(--light-pink-color);
}

.bg-img {
  width: 100%;
  padding: 10px;
}

/* Personalities Section */

.personalities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
}

.personalities-description {
  max-width: 35rem;
  padding: 0 10px;
}

.personalities-description a:hover {
  text-decoration: underline;
}

.personalities-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  flex: 0 1 350px;
  margin: 20px 30px;
  box-shadow: 0 10px 50px 5px #f5f5f5;
  border-radius: 10px;
}

.card:nth-child(1) {
  border-top: 5px solid var(--main-font-color);
}

.card:nth-child(2) {
  border-top: 5px solid var(--pink-font-color);
}

.card:nth-child(3) {
  border-top: 5px solid var(--main-font-color);
}

.card h3 {
  margin-top: 10px;
}

.card img {
  width: 100%;
  max-width: 350px;
}

.card p {
  text-align: left;
  /* top | right | bottom | left */
  padding: 5px 40px 20px 40px;
}

/* Information Section */

.information-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10rem 0;
  padding: 10rem 10px;
  background: #F5F6F7;
}

.image-container {
  flex: 0 1 450px;
}

.image-container img {
  width: 100%;
}

.information-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 1 450px;
  margin-top: 2rem;
}

/* Sign-up Section */

.sign-up-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* top | right | bottom | left */
  margin: 10rem 0;
}

.sign-up-section h2 {
  margin: 0 3rem;
}

.sign-up-section .btn {
  margin: 2rem 3rem;
}

/* Footer */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* top | right | bottom | left */
  padding: 10rem 0 2rem 0;
  background: #f5f6f7;
}

.svg {
  position: absolute;
  top: 0;
  height: 120px;
  width: 100%;
}

.c1 {
  fill: #fff;
}

.footer-bg {
  display: block;
  width: 100%;
  height: 140px;
  fill: #fff;
}

.socials i {
  font-size: 1.5rem;
  padding: 0 5px;
  transition: font-size 0.3s ease-in-out;
}

.socials i:hover {
  font-size: 1.7rem;
}

.fa-facebook-square {
  color: #43599a;
}

.fa-twitter {
  color: #58aae9;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}

.footer-item {
  margin: 0 15px;
}

.footer-link {
  color: var(--pink-font-color);
}

.footer-link:hover {
  text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 930px) {

    .nav-list {
      display: none;
      opacity: 0;
    }
  
    .right-container {
      display: none;
      opacity: 0;
    }
  
    .menu-toggle {
      display: grid;
      opacity: 1;
    }
  }

/* Ipad */
@media only screen and (max-width: 768px) {

  h2 {
    font-size: 30px;
  }

  .hero-section {
    flex-direction: column;
    justify-content: center;
    padding-top: 15rem;
  }

  .text-wrapper {
    margin: 5rem 30px;
    text-align: center;
  }

  .background-container {
    width: 100%;
  }

  .personalities-section {
    margin-top: 15rem;
  }

  }
  
/* Small Screens */
@media only screen and (max-width: 450px) {

  nav {
    padding: 20px 30px;
  }

}



