/* Global */

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: thin;
}

:root {
  --main-font: 'Spectral', sans-serif;
  --main-font-color: #2f2e41;
  --red-font-color: #ff8181;
}

html {
  font-family: var(--main-font);
}

body {
  box-sizing: border-box;
  color: var(--main-font-color);
  height: 100vh;
}

main {
  height: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 100;
}

h2 {
  font-size: 40px;
  position: relative;
}

h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  border-radius: 20px;
  width: 50%;
  height: 100%;
  background: #FF8181;
  opacity: 0.05;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

p {
  font-size: 20px;
  margin-top: 17px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 30px 0;
}

.highlight {
  color: var(--red-font-color);
}

.bold {
  font-weight: 800;
}

/* Header */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: 800;
  margin-left: 10px;
}

.logo img {
  width: 64px;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
}

.nav-item {
  margin: 0 2rem;
}

.nav-item:hover .nav-link{
 color: var(--red-font-color);
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.login-link {
  position: relative;
  margin-right: 15px;
  color: #fff;
}

.login-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 1px;
  height: 30px;
  background: #fff;
}

.custom-select {
  position: relative;
}

.custom-select::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-30%);
  pointer-events: none;
  border: 10px solid transparent;
  border-top-color:  #fff;
}

select {
  padding: 5px 10px;
  background: transparent;
  border: none;
  font-family: var(--main-font);
  font-size: 20px;
  color: #fff;
  appearance: none;
  cursor: pointer;
}

.menu-toggle {
  display: grid;
  place-items: center;
  color: #fff;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: var(--main-font-color);
  display: none;
  opacity: 0;
  transition: transform 80ms ease-in-out;
}

.menu-toggle:hover {
  transform: scale(1.1);
}

.fa-times {
  display: none;
  opacity: 0;
}

.mobile-menu {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mobile-menu.active {
  display: flex;
  opacity: 1;
}

.menu-toggle:hover {
  cursor: pointer;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.mobile-item {
  padding: 1rem 2rem;
}

.mobile-item:hover {
  cursor: pointer;
}

.mobile-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.overlay {
  width: auto;
  flex-grow: 1;
  background-color: #6d6f65;
  opacity: 0.5;
}

.menu {
  flex: 0 0 300px;
  background-color: #fff;
}

/* Hero Section */

.hero-section {
  display: flex;
  align-items: center;
  padding: 20rem 80px;
}

.text-wrapper {
  max-width: 50%;
  margin: auto 0;
}

.hero-bg {
  position: absolute;
  top: 0;
  width: 813px;
  height: 100%;
  left: calc(100% - 813px);
  z-index: -1;
  background-image: url('/Images/Illustration.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.outline {
  color: var(--red-font-color);
  border: 2px solid var(--red-font-color);
  transition: 0.2s ease-in-out;
}

.btn.outline:hover {
  background: var(--red-font-color);
  color: #fff;
}

/* Personalities Section */

.personalities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 10rem; */
}

.personalities-description {
  max-width: 35rem;
  padding: 0 10px;
}

.personalities-description a:hover {
  text-decoration: underline;
}

.personalities-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  flex: 0 1 350px;
  margin: 20px 30px;
  box-shadow: 0 10px 50px 5px #f5f5f5;
  border-radius: 10px;
}

.card:nth-child(1) {
  border-top: 5px solid var(--main-font-color);
}

.card:nth-child(2) {
  border-top: 5px solid var(--red-font-color);
}

.card:nth-child(3) {
  border-top: 5px solid var(--main-font-color);
}

.card h3 {
  margin-top: 10px;
}

.card img {
  width: 100%;
  max-width: 350px;
}

.card p {
  text-align: left;
  /* top | right | bottom | left */
  padding: 5px 40px 20px 40px;
}

/* Information Section */

.information-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10rem 0;
  padding: 10px;
}

.image-container {
  flex: 0 1 450px;
}

.image-container img {
  width: 100%;
}

.information-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 1 450px;
  margin-top: 2rem;
}

/* Sign-up Section */

.sign-up-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* top | right | bottom | left */
  margin: 20rem 0 10rem 0;
}

.sign-up-section h2 {
  margin: 0 3rem;
}

.sign-up-section .btn {
  margin: 2rem 3rem;
}

.filled {
  background: var(--red-font-color);
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn.filled:hover {
  background: transparent;
  border: 2px solid var(--red-font-color);
  color: var(--red-font-color);
}

/* Footer */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* top | right | bottom | left */
  padding: 10rem 0 2rem 0;
  background: #f5f6f7;
}

.svg {
  position: absolute;
  top: 0;
  height: 120px;
  width: 100%;
}

.c1 {
  fill: #fff;
}

.footer-bg {
  display: block;
  width: 100%;
  height: 140px;
  fill: #fff;
}

.socials i {
  font-size: 1.5rem;
  padding: 0 5px;
  transition: font-size 0.3s ease-in-out;
}

.socials i:hover {
  font-size: 1.7rem;
}

.fa-facebook-square {
  color: #43599a;
}

.fa-twitter {
  color: #58aae9;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}

.footer-item {
  margin: 0 15px;
}

.footer-link {
  color: var(--red-font-color);
}

.footer-link:hover {
  text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 1445px) {
  /* Header */

  .right-container {
    color: var(--main-font-color);
  }

  .login-link {
    color: var(--main-font-color);
  }

  /* Hero section */

  .hero-bg {
    display: none;
  }

  .text-wrapper {
    max-width: 100%;
    text-align: center;
    padding: 0 5px;
    margin-top: 0;
  }

  .hero-section {
    flex-direction: column;
    padding: 3rem 10px 10rem 10px;
  }
}

@media only screen and (max-width: 1106px) {
  /* Header */

  .nav-list {
    display: none;
    opacity: 0;
  }

  .right-container {
    display: none;
    opacity: 0;
  }

  .menu-toggle {
    display: grid;
    opacity: 1;
  }

  /* .mobile-menu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    opacity: 1;
  } */
}

/* Small Screens */
@media only screen and (max-width: 450px) {
  /* Header */

  nav {
    padding: 20px 30px;
  }
}
